{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vexillology Quiz{% endblock %}</title>
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'assets/styles/output.css' %}" />
    {% htmx_script %}
    <script>
        // Get theme from local storage (other script block at the bottom of body)
        const savedTheme = localStorage.getItem('theme');
        document.documentElement.setAttribute('data-theme', savedTheme);
    </script>
</head>

<body class="flex flex-col items-center min-h-screen" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
{% include 'nav.html' %}

<!-- Notification pop-ups with Django messages -->
{% if messages %}
<div id="toast-container" class="toast toast-top toast-end z-0">
    {% for message in messages %}
    <div role="alert" class="alert alert-success shadow-lg">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <!-- Message content filled in here -->
        <span>{{ message }}</span>
    </div>
    {% endfor %}
</div>

<script>
    // Toast will gently fade out after popping up
    setTimeout(function() {
        const container = document.getElementById('toast-container');
        if (container) {
            container.style.transition = "opacity 0.5s ease";
            container.style.opacity = "0";
            setTimeout(() => container.remove(), 500);
        }
    }, 3000);
</script>
{% endif %}

{% block content %}

{% endblock %}

{% include 'footer.html' %}
</body>

</html>