<div class="w-full mt-auto">
    <footer class="footer sm:footer-horizontal bg-base-300 text-base-content text-lg p-10">
        <aside class="text-2xl">
          <img
            width="60"
            height="60"
            {% load static %}
            class="fill-current" src="{% static 'assets/images/default_pfp.png' %}">
          </img>
          <p>
            Vexillologists.com  <span class="text-success">v1.0.4</span>
            <br />
            Created by <a href="https://victory-ma.com" target="_blank" class="text-success hover:text-success-content transition duration-300 ease-in-out">Victory M.</a>
            <br />
          </p>
          <div class="flex flex-col gap-2 mt-4">
            <a class="bg-success text-white text-xl rounded-xl py-2 px-4 w-full hover:cursor-pointer hover:bg-success-content transition duration-300 ease-in-out border-success-content border-1" href="https://www.buymeacoffee.com/victoryma" target="_blank">Buy me a coffee ❤️</a>
            <a class="bg-success text-white text-xl rounded-xl py-2 px-4 w-full hover:cursor-pointer hover:bg-success-content transition duration-300 ease-in-out border-success-content border-1" href="https://victory-ma.com" target="_blank">Visit my portfolio 👨‍💻</a>
          </div>
        </aside>
        <nav class="flex flex-col text-2xl text-base-content gap-2">
          <a href="{% url 'leaderboard' %}" class="footer-title hover:cursor-pointer">Leaderboard</a>
          <a href="{% url 'about' %}" class="footer-title hover:cursor-pointer">About</a>
          <a href="{% url 'contact' %}" class="footer-title hover:cursor-pointer">Contact</a>
          <a href="{% url 'quiz' %}" class="footer-title hover:cursor-pointer">Quiz</a>
          <a href="{% url 'settings' %}" class="footer-title hover:cursor-pointer">Settings</a>
          <a href="{% url 'privacy' %}" class="footer-title hover:cursor-pointer">Privacy Policy</a>
          <a href="{% url 'release_notes' %}" class="footer-title hover:cursor-pointer">Release Notes</a>
        </nav>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get theme contorller and current theme
            const themeController = document.getElementById('theme-controller');
            const currentTheme = document.documentElement.getAttribute('data-theme')

            // Controller is checked if the current theme light
            themeController.checked = currentTheme === 'light';

            // If controller is clicked...
            themeController.addEventListener('change', (event) => {
                // If controller is checked, set theme to light
                if (event.target.checked) {
                    document.documentElement.setAttribute('data-theme', 'light');
                    localStorage.setItem('theme', 'light');
                    // If controller is not checked, set theme to dark
                } else {
                    document.documentElement.setAttribute('data-theme', 'dark');
                    localStorage.setItem('theme', 'dark');
                }
            })
        });
    </script>
</div>