{% if countries %}
    {% for country in countries %}
        <button onclick="sendText('{{ country.Country }}')" value="{{ country.Country }}" href="{% url 'country' country_name=country.Country|slugify %}" class="text-4xl w-full md:min-w-140 border-1 border-success bg-success-content hover:cursor-pointer hover:bg-success hover:text-success-content transition duration-300 ease-in-out text-white p-4 rounded-2xl flex items-center justify-between">
            <span>{{ country.Country }}</span> 
        </button>
    {% endfor %}
{% else %}
    <p class="text-4xl">No countries found... 😨</p>
{% endif %}